.div1 {
    color: gray;
    font-size: 10px;
    height: 100px;
    
    background-color: rgb(95, 158, 160);
    position: center;
}
.div2 {
    color: gray;
    font-size: 10px;
    height: 150px;
    
    background-color: rgb(255, 255, 240);
    position: right;
}
.div3 {
    color: gray;
    font-size: 10px;
    height: 150px;
    
    background-color: rgb(255, 255, 240);
    position: right;
}
.div4 {
    color: black;
    font-size: 10px;
    height: 150px;
    
    background-color:rgb(255, 255, 240);
    position: right;
}
.div4 {
    color: black;
    font-size: 10px;
    height: 150px;
    
    background-color:rgb(255, 255, 240);
    position: right;
}

