*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.geral{
    height: 100vh;
    width: 100vw;

    background-color: #FFFFF0;
}

.top-div{
    height: 15rem;
    
    
}

img{
    margin-top: 3rem;
}

.bottom-div{
    height: 28rem;
    background-color: #5F9EA0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 60px 60px 0 0;
}

ul{
    list-style: none;
}

a{
    width: 340px;
    height: 62px;
    background-color: #FFFFF0;
    border: none;
    border-radius: 40px;
    font-size: 40px;
}

button:hover{
    background-color: #fafa45;
}

.entrar-button{
    margin-bottom: 64px;
}