@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','Segoe UI', Verdana, sans-serif;
}

body{
    background-color: #000000;
}

.geral{
    height: 750px;
    width: 350px;
    background-color: #fffff0;
    background-image: url(../images/pag-perfil/Group\ 255\ 1.png);
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: 12% 33% 15% 40%;
    align-items: center flex-start center center;
}

nav{
    display: flex;
    align-items: center;
}

nav .icon-seta{
    margin-left: 1rem;
    margin-right: 220px;
}

.perfil{
    display: flex;
    justify-content: center;
}

.perfil ul{
    list-style: none;
}

.img-perfil{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
    margin-left: 82px;
}

.descricao-perfil{
    background-color: #fffff0;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;

    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
}

.icon-perfil{
    width: 20px;
    height: 20px;
    margin: 0 12px;
}

.descricao-perfil ul{
    list-style: none;
}

.insignias h3{
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 600;
}

.insignias-imgs{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    background-color: #5f9ea080;
    padding: 3px 16px;
}

.funcao{
    width: 300px;
    height: 55px;
    background-color: #5F9EA0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 1rem;
    margin-left: 1rem;

    display: flex;
    align-items: center;
}

.funcao img{
    margin: 1rem;
}

.nome-funcao{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
}
