*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #000000;
}

.geral{
    height: 751px;
    width: 350px;
    background-color: #5F9EA0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%);
    
    display: flex;
    align-items: center;
}

.center{
    width: 350px;

    margin: 0 1rem;
}

h2{
    margin-bottom: 1rem;
}

.perfis{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
}

button{
    height: 140px;
    width: 140px;

    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px 60px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
