.popup-comunicacao{
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;

    margin: auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: solid 1px #4c4d4f;
    background-color: #f5812a;
    display: none;
}